{% extends "base.html" %} {% block content %}

<div id="banner">
  <h1>about us</h1>
  <p class="lead">What is Twitter Sentiment?</p>
  <p class="text">
    Twitter Sentiment is a web based application that allows you to discover the
    sentiment of a username or hashtag on Twitter.
  </p>

  <p class="lead">How does it work?</p>
  <p class="text">
    You can read our technical documentation to find out more.
  </p>

  <p class="lead">Who created Twitter Sentiment?</p>
  <p class="text">
    Sara Caponi, Daniel Jaegers, and Sarah Wooldridge created Twitter Sentiment
    for Computer Science Capstone II at the University of Missouri - Columbia.
  </p>
</div>

{% endblock %}
