<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>twitter sentiment</title>

    <link
      type="text/css"
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Sintony:400,700"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/app.css') }}"
    />
  </head>
  <body>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li class="dropdown">
        <a class="dropbtn">Leaderboards</a>
        <div class="dropdown-content">
          <a href="{{ url_for('username') }}">Username</a>
          <a href="{{ url_for('hashtag') }}">Hashtag</a>
        </div>
      </li>

      <li><a href="{{ url_for('about') }}">About Us</a></li>
    </ul>

    {% block content %}{% endblock %}
  </body>
</html>
