{% extends "base.html" %} {% block content %}

<div class="home">
  <div id="banner">
    <h1>twitter sentiment</h1>
    <p class="lead">
      Enter a username or hashtag in the search bar below. To search, click on
      the corresponding button to get results.
    </p>

    <form action="" method="POST" novalidate>
      {{ form.hidden_tag() }} 
      {{ form.query(class="input", placeholder="Enter a username or hashtag", size=50) }} 
      {{ form.submitUsername(id="username", class="button") }} 
      {{ form.submitHashtag(id="hashtag", class="button") }}
    </form>

    <!-- <h1>{{ data }}</h1> -->
    <h3>{{ score }}</h3>
    <h4>{{ posTweet }}</h4>
    <h4>{{ negTweet }}</h4>

  </div>

  <!-- The Username Modal -->
  <div id="usernameModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span id="UNspan" class="close">&times;</span>
      <p>Username results will be posted here</p>
    </div>
  </div>

  <!-- The Hashtag Modal content -->
  <div id="hashtagModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span id="HTspan" class="close">&times;</span>
      <p>Hashtag results will be posted here</p>
    </div>
  </div>

  <script>
    // Get the modal
    var UNmodal = document.getElementById("usernameModal");
    var HTmodal = document.getElementById("hashtagModal");

    // Get the button that opens the modal
    var usernameButton = document.getElementById("username");
    var hashtagButton = document.getElementById("hashtag");

    // Get the <span> element that closes the modal
    var UNspan = document.getElementsByClassName("close")[0];
    var HTspan = document.getElementsByClassName("close")[1];

    // When the user clicks the button, open the modal
    usernameButton.onclick = function () {
      UNmodal.style.display = "block";
    };

    hashtagButton.onclick = function () {
      HTmodal.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    UNspan.onclick = function () {
      UNmodal.style.display = "none";
    };

    HTspan.onclick = function () {
      HTmodal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == UNmodal || event.target == HTmodal) {
        UNmodal.style.display = "none";
        HTmodal.style.display = "none";
      }
    };
  </script>
</div>

{% endblock %}
