{% extends "base.html" %} {% block content %}

<div id="banner">
  <h1>username leaderboard</h1>
  <p class="lead">Here are the cached username leaderboards</p>
  <p class="lead">Select a username to see more about it </p>
</div>

<br>



<div class="grid">
    <div class ="column"><p class = "lead">Most Negative</p>
    <ol>


      {% for neg in mostNeg %}
        <li> <a data-target="#myModal" data-toggle="modal"
          href="#myModal" style="padding:0px;" onclick="populateModal(`{{neg.query}}`,`{{neg.score}}`, `{{neg.mostPositive}}`, `{{neg.mostNegative}}` )" >{{  "@" + neg.query }}</a></li>
        <br>
      {% endfor %}

    </ol>
    
  </div>
  
    <div class="column"><p class = "lead">Most Searched</p>
    <ol>

      {% for freq in mostFreq %}
        <li> <a data-target="#myModal" data-toggle="modal"
          href="#myModal" style="padding:0px;" onclick="populateModal(`{{freq[0].query}}`,`{{freq[0].score}}`, `{{freq[0].mostPositive}}`, `{{freq[0].mostNegative}}` )" >{{  "@" + freq[0].query }}</a></li>
        <br>
      {% endfor %}

    </ol>
    </div>
  
  
    <div class="column"><p class = "lead">Most Positive</p>
    <ol>

      {% for pos in mostPos %}
        <li> <a data-target="#myModal" data-toggle="modal"
          href="#myModal" style="padding:0px;" onclick="populateModal(`{{pos.query}}`,`{{pos.score}}`, `{{pos.mostPositive}}`, `{{pos.mostNegative}}` )" >{{  "@" + pos.query }}</a></li>
        <br>
      {% endfor %}

    </ol>
    </div>


    <div class="container">
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                <h2 class="modal-title" id = "title">Title of hashtag</h2>
              </div>
              <div class="modal-body">
                <h4 class="modal-title" > Score:</h4>
                <p id ="score"></p>
                <h4 class="modal-title" > Most Positive Tweet:</h4>
                <p id ="pos"></p>
                <h4 class="modal-title" > Most Negative Tweet:</h4>
                <p id ="neg"></p>
              </div>

            </div>
            
          </div>
        </div>
        
      </div>
    
      <script>
        function populateModal(query, score, mostPositive, mostNegative) {
          document.getElementById("title").innerHTML ='@' + query;
          var new_score = parseFloat(score);
          new_score = ((new_score + 1) * 100) / 2;
          new_score = new_score.toFixed(2);
          document.getElementById("score").innerHTML = new_score;
          document.getElementById("pos").innerHTML = mostPositive;
          document.getElementById("neg").innerHTML = mostNegative;
    }
      </script>

</div>

{% endblock %}
