{% extends "base.html" %} {% block content %}

<div id="banner">
  <h1>username leaderboard</h1>
  <p class="lead">Here are the cached username leaderboards</p>
</div>

<br>

<div class="grid">
  <div class="column"> <p class = "lead">Most Negative</p> 
  <ol>
    <li> {{ "@" + mostNeg[0] }}</li>
    <br>
    <li> {{ "@" + mostNeg[1] }}</li>
    <br>
    <li> {{ "@" + mostNeg[2] }}</li>
    <br>
    <li> {{ "@" + mostNeg[3] }}</li>
    <br>
    <li> {{ "@" + mostNeg[4] }}</li>
    <br>
    <li> {{ "@" + mostNeg[5] }}</li>
    <br>
    <li> {{ "@" + mostNeg[6] }}</li>
    <br>
    <li> {{ "@" + mostNeg[7] }}</li>
    <br>
    <li> {{ "@" + mostNeg[8] }}</li>
    <br>
    <li> {{ "@" + mostNeg[9] }}</li>
  </ol></div>


  <div class="column"><p class = "lead">Most Searched</p>
  <ol>
    <li> {{ "@" + mostFreq[0] }}</li>
    <br>
    <li> {{ "@" + mostFreq[1] }}</li>
    <br>
    <li> {{ "@" + mostFreq[2] }}</li>
    <br>
    <li> {{ "@" + mostFreq[3] }}</li>
    <br>
    <li> {{ "@" + mostFreq[4] }}</li>
    <br>
    <li> {{ "@" + mostFreq[5] }}</li>
    <br>
    <li> {{ "@" + mostFreq[6] }}</li>
    <br>
    <li> {{ "@" + mostFreq[7] }}</li>
    <br>
    <li> {{ "@" + mostFreq[8] }}</li>
    <br>
    <li> {{ "@" + mostFreq[9] }}</li>
  </ol></div>


  <div class="column"><p class = "lead">Most Positive</p>
  <ol>
    <li> {{ "@" + mostPos[0] }}</li>
    <br>
    <li> {{ "@" + mostPos[1] }}</li>
    <br>
    <li> {{ "@" + mostPos[2] }}</li>
    <br>
    <li> {{ "@" + mostPos[3] }}</li>
    <br>
    <li> {{ "@" + mostPos[4] }}</li>
    <br>
    <li> {{ "@" + mostPos[5] }}</li>
    <br>
    <li> {{ "@" + mostPos[6] }}</li>
    <br>
    <li> {{ "@" + mostPos[7] }}</li>
    <br>
    <li> {{ "@" + mostPos[8] }}</li>
    <br>
    <li> {{ "@" + mostPos[9] }}</li>
    </ol></div>
</div>

{% endblock %}
